body {
  font-family: monospace;
}

div.player {
  position: relative;
}

div.player canvas {
  visibility: hidden;
}

div.player:hover canvas {
  left: 0;
  position: absolute;
  top: 0;
  visibility: initial;
}

div.player:hover img.poster {
  /* TODO: Figure out why this fixes doubled up box-shadow in Firefox */
  visibility: hidden;
}

img.poster {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .1);
}

img.patch {
  position: absolute;
}

progress {
  margin: 1ex;
}

div.patch {
  align-items: center;
  display: flex;
  margin: 1ex;
}

canvas {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .1);
}

div.patch img {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .1);
}
