#patchInput {
  display: block;
  margin: 0 auto;
  width: calc(100% - 2em);
}

#patchP {
  margin: 1em;
}

#patchDiv {
  image-rendering: crisp-edges;
  margin: 1em;
  scale: 5;
  transform-origin: top left;
}

.patch {
  display: none;
  position: absolute;
}

.cast {
  display: block;
}

.last::before {
  background: red;
  content: '';
  display: inline-block;
  height: 100%;
  mix-blend-mode: difference;
  width: 100%;
}
